In [2]:
import pandas as pd
import os
from openpyxl import load_workbook

In [3]:
# CUANDO EL USUARIO CARGA LOS ARCHIVOS DEBE SELECCIONAR DE QUÉ TRATA Y EL PROGRAMA ASIGNARÁ AUTOMÁTICAMENTE UN NOMBRE

In [4]:
# ENLISTAR ARCHIVOS DE TI

dir =  r"./BD TI"

In [5]:
# FUNCIÓN QUE RENOMBRA LOS ARCHIVOS

def rename_file(dir, names_list):
    carpeta = os.listdir(dir)
    for archivo in carpeta:
        for name in names_list:
            if name in archivo.lower():
                os.rename(os.path.join(dir, archivo), os.path.join(dir, f'{name}.xlsx'))

In [6]:
# CAMBIAR NOMBRE DE LOS ARCHIVOS
names_list = ['licenciamiento', 'procesamiento']
rename_file(dir, names_list)

In [7]:
# ENLISTAR ARCHIVOS DE CONTABILIDAD

carpeta = os.listdir(dir)
carpeta

['licenciamiento.xlsx', 'procesamiento.xlsx']

In [8]:
# FUNCIÓN PARA IDENTIFICAR LA HOJA DE INTERÉS EN CADA ARCHIVO

def select_sheet(dir):
    carpeta = os.listdir(dir)
    sheet_by_file = {}
    
    for archivo in carpeta:
        wb = load_workbook(os.path.join(dir, archivo), read_only=True, data_only=True)
        hojas_visibles = [ws.title for ws in wb.worksheets if ws.sheet_state == "visible"]
        hoja_base = [x for x in hojas_visibles if x.lower() != 'td']
        sheet_by_file[archivo] = hoja_base[0] if hoja_base else None
    
    return sheet_by_file

In [9]:
hojas_archivos = select_sheet(dir)
hojas_archivos

{'licenciamiento.xlsx': 'R0_2025_LIC_V1',
 'procesamiento.xlsx': 'TD PROCESAMIENTO ELECTRONICO'}

In [10]:
licenciamiento = pd.read_excel(os.path.join(dir, 'licenciamiento.xlsx'), sheet_name='R0_2025_LIC_V1')
licenciamiento

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,IPC,1.0573,Unnamed: 9,...,Convenciones,Amortizada desde contabilidad,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRM 2024,3900,NaN,...,NaN,Se retira de Rolling,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRM 2025,4261,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,CO10B21100,GERENCIA TIC,5120750002,AMORT DER USO SOFTWARE,ITS INFOCOMUNICACION,CISCO IDENTITY SERVICE ENGINE SUBSCRIPTION,NaN,NaN,NaN,NaN,...,3661601,3661601,3661601,3661601,3661601,3661601,NaN,NaN,NaN,2.196961e+07
182,CO10C35000,GERENCIA COMERCIAL,5120750002,AMORT DER USO SOFTWARE,B2CHAT (TC),AGENTE BOT CAMI,NaN,NaN,NaN,1600000,...,1600000,1600000,1600000,1600000,1600000,1600000,NaN,NaN,NaN,9.600000e+06
183,CO10B31210,GERENCIA ADMINISTRATIVA,5120750002,AMORT DER USO SOFTWARE,TRIMBLE EUROPE BV,SUSCRIPCION TRIMBLE SKETCHUP,NaN,NaN,NaN,NaN,...,86649.9642,86649.9642,86649.9642,86649.9642,86649.9642,86649.9642,86649.9642,86649.9642,86649.9642,5.198998e+05
184,NaN,NaN,NaN,NaN,NaN,NaN,36624991.6595,52546204.822967,55969483.724967,328567754.311484,...,137534079.469967,175830987.199117,221976885.221608,577002178.585453,581992338.61267,602060324.723867,814128211.121497,836067459.962197,836143352.952697,NaN
185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.296397e+09

In [11]:
# Función que identifica el encabezado de la tabla

def identify_header(df):
    total_index = df.apply(lambda row: row.astype(str).str.lower().str.contains('ceco').any(), axis=1)
    first_total_index = int(total_index[total_index].index[0])
    df.columns = df.iloc[first_total_index]
    return df.drop(df.index[:first_total_index + 1]).reset_index(drop=True)

In [12]:
licenciamiento = identify_header(licenciamiento)
licenciamiento

6,CECO,GERENCIA,CUENTA,DESCRIPCION CUENTA,PROVEEDOR,DESCRIPCIÓN,ene,feb,mar,abr,...,jul,ago,sep,oct,nov,dic,ene,feb,mar,NaN
0,CO10B20000,GERENCIA TIC,5120750002,AMORT DER USO SOFTWARE,NEGOCIOS CON SENTIDO HUMANO,Cursos platarforma UDEMY,NaN,NaN,2127304,2127304,...,2127304,2127304,2127304,2127304,2127304,2127304,2127304,2127304,2127304,1.276382e+07
1,CO10C65000,GERENCIA MERCADEO CARMEL,5120750002,AMORT DER USO SOFTWARE,APPLE INC,ALMACENAMIENTO EN LA NUBE,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0.000000e+00
2,CO10B21100,GERENCIA TIC,5120750002,AMORT DER USO SOFTWARE,INFORMACION LOCALIZADA,Consumo de Nube Google - DataLake,NaN,NaN,NaN,40000000,...,40000000,40000000,40000000,40000000,40000000,40000000,NaN,NaN,NaN,2.400000e+08
3,CO10B21100,GERENCIA TIC,5120750002,AMORT DER USO SOFTWARE,INTERNET VISTA (TC),Monitoreo Página de Pedidos,NaN,NaN,NaN,500000,...,0,0,0,0,0,0,NaN,NaN,NaN,0.000000e+00
4,CO10B21100,GERENCIA TIC,5120750002,AMORT DER USO SOFTWARE,CLOUDFLARE (TC),Registros DNS,NaN,NaN,NaN,300000,...,300000,300000,300000,300000,300000,300000,NaN,NaN,NaN,1.800000e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,CO10B21100,GERENCIA TIC,5120750002,AMORT DER USO SOFTWARE,ITS INFOCOMUNICACION,CISCO IDENTITY SERVICE ENGINE SUBSCRIPTION,NaN,NaN,NaN,NaN,...,3661601,3661601,3661601,3661601,3661601,3661601,NaN,NaN,NaN,2.196961e+07
175,CO10C35000,GERENCIA COMERCIAL,5120750002,AMORT DER USO SOFTWARE,B2CHAT (TC),AGENTE BOT CAMI,NaN,NaN,NaN,1600000,...,1600000,1600000,1600000,1600000,1600000,1600000,NaN,NaN,NaN,9.600000e+06
176,CO10B31210,GERENCIA ADMINISTRATIVA,5120750002,AMORT DER USO SOFTWARE,TRIMBLE EUROPE BV,SUSCRIPCION TRIMBLE SKETCHUP,NaN,NaN,NaN,NaN,...,86649.9642,86649.9642,86649.9642,86649.9642,86649.9642,86649.9642,86649.9642,86649.9642,86649.9642,5.198998e+05
177,NaN,NaN,NaN,NaN,NaN,NaN,36624991.6595,52546204.822967,55969483.724967,328567754.311484,...,137534079.469967,175830987.199117,221976885.221608,577002178.585453,581992338.61267,602060324.723867,814128211.121497,836067459.962197,836143352.952697,NaN
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.296397e+09

In [13]:
# Convertir los nombres de las columnas
licenciamiento.columns = licenciamiento.columns.astype(str).str.lower().str.strip()

In [14]:
# Eliminar las filas donde la columna CECO tenga valores nulos
licenciamiento = licenciamiento.dropna(subset=['ceco'])
licenciamiento

6,ceco,gerencia,cuenta,descripcion cuenta,proveedor,descripción,ene,feb,mar,abr,...,jul,ago,sep,oct,nov,dic,ene,feb,mar,nan
0,CO10B20000,GERENCIA TIC,5120750002,AMORT DER USO SOFTWARE,NEGOCIOS CON SENTIDO HUMANO,Cursos platarforma UDEMY,NaN,NaN,2127304,2127304,...,2127304,2127304,2127304,2127304,2127304,2127304,2127304,2127304,2127304,1.276382e+07
1,CO10C65000,GERENCIA MERCADEO CARMEL,5120750002,AMORT DER USO SOFTWARE,APPLE INC,ALMACENAMIENTO EN LA NUBE,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0.000000e+00
2,CO10B21100,GERENCIA TIC,5120750002,AMORT DER USO SOFTWARE,INFORMACION LOCALIZADA,Consumo de Nube Google - DataLake,NaN,NaN,NaN,40000000,...,40000000,40000000,40000000,40000000,40000000,40000000,NaN,NaN,NaN,2.400000e+08
3,CO10B21100,GERENCIA TIC,5120750002,AMORT DER USO SOFTWARE,INTERNET VISTA (TC),Monitoreo Página de Pedidos,NaN,NaN,NaN,500000,...,0,0,0,0,0,0,NaN,NaN,NaN,0.000000e+00
4,CO10B21100,GERENCIA TIC,5120750002,AMORT DER USO SOFTWARE,CLOUDFLARE (TC),Registros DNS,NaN,NaN,NaN,300000,...,300000,300000,300000,300000,300000,300000,NaN,NaN,NaN,1.800000e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,CO10B21200,GERENCIA TIC,5120750002,AMORT DER USO SOFTWARE,GODADDY LLC,RENOV DE DOMINIOS REALHUMAN.US Y REALHUMAN.XXX,NaN,NaN,NaN,NaN,...,NaN,NaN,65600.1785,65600.1785,65600.1785,65600.1785,65600.1785,65600.1785,65600.1785,2.624007e+05
173,CO10B21200,GERENCIA TIC,5120750002,AMORT DER USO SOFTWARE,CALIPSO COMUNICACIONES S.A.,"RENOVACION DE DOMINIOS LIKEME.COM.CO, LIKE-ME.CO,",NaN,NaN,NaN,NaN,...,NaN,NaN,31687.281,31687.281,31687.281,31687.281,31687.281,31687.281,31687.281,1.267491e+05
174,CO10B21100,GERENCIA TIC,5120750002,AMORT DER USO SOFTWARE,ITS INFOCOMUNICACION,CISCO IDENTITY SERVICE ENGINE SUBSCRIPTION,NaN,NaN,NaN,NaN,...,3661601,3661601,3661601,3661601,3661601,3661601,NaN,NaN,NaN,2.196961e+07
175,CO10C35000,GERENCIA COMERCIAL,5120750002,AMORT DER USO SOFTWARE,B2CHAT (TC),AGENTE BOT CAMI,NaN,NaN,NaN,1600000,...,1600000,1600000,1600000,1600000,1600000,1600000,NaN,NaN,NaN,9.600000e+06
176,CO10B31210,GERENCIA ADMINISTRATIVA,5120750002,AMORT DER USO SOFTWARE,TRIMBLE EUROPE BV,SUSCRIPCION TRIMBLE SKETCHUP,NaN,NaN,NaN,NaN,...,86649.9642,86649.9642,86649.9642,86649.9642,86649.9642,86649.9642,86649.9642,86649.9642,86649.9642,5.198998e+05

In [15]:
import re

def select_ceco_month(df):
    meses_map = {
        'enero':      ['1', '01', 'ene', 'enero'],
        'febrero':    ['2', '02', 'feb', 'febrero'],
        'marzo':      ['3', '03', 'mar', 'marzo'],
        'abril':      ['4', '04', 'abr', 'abril'],
        'mayo':       ['5', '05', 'may', 'mayo'],
        'junio':      ['6', '06', 'jun', 'junio'],
        'julio':      ['7', '07', 'jul', 'julio'],
        'agosto':     ['8', '08', 'ago', 'agosto'],
        'septiembre': ['9', '09', 'sep', 'septiembre'],
        'octubre':    ['10', 'oct', 'octubre'],
        'noviembre':  ['11', 'nov', 'noviembre'],
        'diciembre':  ['12', 'dic', 'diciembre']
    }

    renombre = {}

    for col in df.columns:
        col_norm = col.lower().strip()

        for mes, patrones in meses_map.items():
            for patron in patrones:
                if re.search(patron, col_norm):
                    renombre[col] = mes
                    break

    df = df.rename(columns=renombre)

    columnas_meses = list(meses_map.keys())
    columnas_finales = ['ceco'] + ['cuenta'] + [c for c in columnas_meses if c in df.columns]

    return df[columnas_finales]

In [16]:
licenciamiento = select_ceco_month(licenciamiento)

In [17]:
licenciamiento

6,ceco,cuenta,enero,enero,febrero,febrero,marzo,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre
0,CO10B20000,5120750002,NaN,2127304,NaN,2127304,2127304,2127304,2127304,2127304,2127304,2127304,2127304,2127304,2127304,2127304,2127304
1,CO10C65000,5120750002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,CO10B21100,5120750002,NaN,NaN,NaN,NaN,NaN,NaN,40000000,40000000,40000000,40000000,40000000,40000000,40000000,40000000,40000000
3,CO10B21100,5120750002,NaN,NaN,NaN,NaN,NaN,NaN,500000,500000,500000,0,0,0,0,0,0
4,CO10B21100,5120750002,NaN,NaN,NaN,NaN,NaN,NaN,300000,300000,300000,300000,300000,300000,300000,300000,300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,CO10B21200,5120750002,NaN,65600.1785,NaN,65600.1785,NaN,65600.1785,NaN,NaN,NaN,NaN,NaN,65600.1785,65600.1785,65600.1785,65600.1785
173,CO10B21200,5120750002,NaN,31687.281,NaN,31687.281,NaN,31687.281,NaN,NaN,NaN,NaN,NaN,31687.281,31687.281,31687.281,31687.281
174,CO10B21100,5120750002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3661601,3661601,3661601,3661601,3661601,3661601
175,CO10C35000,5120750002,NaN,NaN,NaN,NaN,NaN,NaN,1600000,1600000,1600000,1600000,1600000,1600000,1600000,1600000,1600000
176,CO10B31210,5120750002,NaN,86649.9642,NaN,86649.9642,NaN,86649.9642,NaN,NaN,NaN,86649.9642,86649.9642,86649.9642,86649.9642,86649.9642,86649.9642

In [18]:
# Buscar CECO y CUENTA de licenciamiento en contabilidad
# Identificar cuál es el último mes de contabilidad que contiene valores distintos a 0 o nan
# Verificar que el valor del último mes que contiene valores distintos a 0 en contabilidad coincida con el valor en licenciamiento para el mismo mes
# Si el valor coincide, añadir los valores de los meses faltantes de licenciamiento a conyabilidad.
# ¿ qué significa la convención "se retira del rolling"
# ¿ Qué tan frecuente es que licenciamiento tenga valores donde contabilidad ya diligenció?

In [19]:
meses = licenciamiento.columns.drop(['ceco', 'cuenta']).tolist()
meses

['enero',
 'enero',
 'febrero',
 'febrero',
 'marzo',
 'marzo',
 'abril',
 'mayo',
 'junio',
 'julio',
 'agosto',
 'septiembre',
 'octubre',
 'noviembre',
 'diciembre']

In [ ]:
# Unificar el dataframe de contabilidad y licenciamiento para comparar el valor del último mes con datos en contabilidad
df_comparacion = pd.merge(
    contabilidad,
    licenciamiento,
    on=['ceco', 'cuenta'],
    suffixes=('_conta', '_licen')
)

In [5]:
a = pd.DataFrame({'ceco': [1001, 1002, 1003],
                 'cuenta': [5001, 5002, 5003],
                 'ene': [1,2,25],
                 'feb':[3,4,26],
                 'mar': [5,6,27],
                 'abr': [7,8,28],
                 'may': [9,10,29],
                 'jun': [11, None,30],
                 'jul': [None, None,31],
                 'ago':[None, None,32],
                 'sep': [None, None,33],
                 'oct': [None, None,34],
                 'nov': [None, None,35],
                 'dic': [None, None,36]
                 })
a

,ceco,cuenta,ene,feb,mar,abr,may,jun,jul,ago,sep,oct,nov,dic
0,1001,5001,1,3,5,7,9,11.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1002,5002,2,4,6,8,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1003,5003,25,26,27,28,29,30.0,31.0,32.0,33.0,34.0,35.0,36.0

In [6]:
meses = a.columns.drop(['ceco', 'cuenta']).tolist()
meses

['ene',
 'feb',
 'mar',
 'abr',
 'may',
 'jun',
 'jul',
 'ago',
 'sep',
 'oct',
 'nov',
 'dic']

In [7]:
# Identificar el último mes con valor distinto de 0 o nan para cada fila

def identificar_ultimo_mes(df, meses):
    def ultimo_mes_fila(fila):
        for mes in reversed(meses):
            if pd.notna(fila[mes]) and fila[mes] != 0:
                return mes
        return None

    df['ultimo_mes'] = df.apply(ultimo_mes_fila, axis=1)
    return df

a = identificar_ultimo_mes(a, meses)
a

,ceco,cuenta,ene,feb,mar,abr,may,jun,jul,ago,sep,oct,nov,dic,ultimo_mes
0,1001,5001,1,3,5,7,9,11.0,NaN,NaN,NaN,NaN,NaN,NaN,jun
1,1002,5002,2,4,6,8,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,may
2,1003,5003,25,26,27,28,29,30.0,31.0,32.0,33.0,34.0,35.0,36.0,dic

In [8]:
b = pd.DataFrame({'ceco': [1001, 1002],
                 'cuenta': [5001, 5002],
                 'ene': [1,2],
                 'feb':[3,4],
                 'mar': [5,6],
                 'abr': [7,8],
                 'may': [9,10],
                 'jun': [11, 12],
                 'jul': [13, 14],
                 'ago':[15, 16],
                 'sep': [17, 18],
                 'oct': [19, 20],
                 'nov': [21, 22],
                 'dic': [23, 24]
                 })
b

   ceco  cuenta  ene  feb  mar  abr  may  jun  jul  ago  sep  oct  nov  dic
0  1001    5001    1    3    5    7    9   11   13   15   17   19   21   23
1  1002    5002    2    4    6    8   10   12   14   16   18   20   22   24

In [11]:
# ...existing code...
# completar valores nulos de `a` usando `b` (coinciden por 'ceco' y 'cuenta')
meses = [c for c in a.columns if c not in ('ceco','cuenta')]

a_idx = a.set_index(['ceco','cuenta'])
b_idx = b.set_index(['ceco','cuenta'])

# llenar solo las celdas nulas en `a` con valores de `b` (no agrega filas nuevas)
a_idx[meses] = a_idx[meses].fillna(b_idx[meses])

a_filled = a_idx.reset_index()
a_filled

KeyError: "['ultimo_mes'] not in index"